body{
	background: rgba(0,0,0,0.9);
}
.header
{
	height: 70px;
	margin: 0;
	padding: 0;
	line-height: 80px;
}

.links
{
	height: 60px;
	vertical-align: middle;
	
}

.header a
{
	color: green;
	opacity: 0.8;
	font-size: 30px;
	margin-left: 20px;
	
}
.header a:hover{
	opacity: 1;
	text-decoration: none;
}

.sec{
	height: 600px;
}