/*header*/
.header{
	background: #ececec;
	opacity: 0.4;
	text-align: left;
	height: 50px;
	padding-left: 50%;
}

.header a{
	color: black;
	margin-right: 20px;
	font-size: 20px;
	font-family: thin;
	vertical-align: baseline;
}

.g_window{
	height: 450px;
-moz-box-shadow:    0 0 10px #000000;
   -webkit-box-shadow:  0 0 10px #000000;
   box-shadow:          0 0 10px #000000;
   margin-left:10%;
   top:50px; 
   overflow: hidden;
}

#sketches{

}
/*footer*/
#footcont{
	height: 10%;
	z-index: 999;
	background-color: #ececec;
	margin: 0 0 0 0;
	width: 100%;
}

#footer{
	position: fixed;
	top:90%;
	width: 100%;
	background-color: #B6B6B4;
	
}

#sociallinks{
	height: 100%;
	overflow: hidden;
	text-align: right;	


}
#sociallinks input{
	margin-top: 2px;
	font-size: 10px;
	margin-right: 10px;

}
#sociallinks img{
	margin-right: 20px;
}

#offsite{
	margin-top: 20px;
	bottom: 0;
}



/*slideshow*/
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: 440px;
  float: left;
  margin: 0;
  padding-right: 0;
  padding-left: 0;
  padding-top: 10px;
  background-position: center;
  z-index: -1;
  border: 0;
  }

