body{
	overflow: hidden;
}

@font-face
{
font-family: matrix;
src: url('../fonts/matrix.ttf');
}
@font-face
{
font-family: creative;
src: url('../fonts/jelly.ttf');
}
/*---------------------------Class's----------------------------------*/
.marg{
	margin: 0 0 0 0;
}

.padd{
	padding: 0;
}

.h100{
height:640px;

}
.welcomeline{
font-size: 30px;	
font-family: thin;
margin-top: 5%;
}


.bgblack
{
	background-color: black;
}
.bgwhite{
	background-color: #ececec;
}

.centerimage{
	height: 100%;

}

.socialicon{
	padding: 0;
	height: 30px;
	width: 30px;
	opacity: 0.6;
}

.socialicon:hover{
	opacity: 1;
}

.shortcut a{
	/*font-size: 30px;*/
	color: black;
}
.shortcut:first-child{
	font-size: 50px;
}

/*---------------------------Id's----------------------------------*/
#welcometab{
	position: fixed;
	background: url(../images/oldpaper.jpg);
	background-position:center; 
	background-size:100%;

	height: 100%;
	z-index: 1000;
	text-align: center;
	box-shadow:50px 50px 50px 20px black;
}
#logosvg
{
	height: 20%;
	width: 20%;
}
#link_main{
	color: white;
	width: 30%;
	height: 10%;
	background: url("../images/button_texture.jpg") ;
	bottom: 20%;
	margin-top:10%; 
	border-radius:5px;
	opacity: .8;
	/*background-position: center;*/

	border: 1px black;
}
#link_main:hover{
	opacity: 1;
	}

#white_half
{
	-moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 20px #000000;

   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;

z-index: auto;
}

#black_half{
	-moz-box-shadow:    inset 0 0 10px white;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #ffffff;

z-index: 5;
}
/*center logo*/
#logo
{
	width: 200px;
	margin: 0 auto;
	margin-top: 130px;
	z-index: 10;
	margin-left: -100px;
	left: 50%;
	position: fixed;
}

#left_title{
	
	font-family: creative;
	position: fixed;
	left: 18%;
	top: 40%;
	font-size: 60px;
	opacity: 0.6;
	color: black;
	z-index: 4;

}

#right_title{
	
	font-family: matrix;
	position: fixed;
	right: 14%;
	top: 40%;
	font-size: 50px;
	opacity: 1;
	color: green;
}
#matrix{
	opacity: 0.1;
}

#tatoo{
	opacity: 0.1;
	z-index: 2;
}

#tatoohover{
position: fixed;
opacity: 0.7;
left: 0;
display: none;
z-index: auto;

}

#wing{
	position: fixed;
	opacity: 0.1;
	height: 10%;	
	width: 20%;
	top:52%;
	left: 16%;
	
	/*display: none;*/
}
/*footer*/
#footcont{
	height: 60px;
	z-index: 7;
	background-color: black;
	margin: 0 0 0 0;
	width: 100%;
}

#footer{

	height: 110px;
	bottom: 0;
	padding-top:643px;
	background-color: #B6B6B4;
	
}

#sociallinks{
	height: 100%;
	overflow: hidden;
	padding: 0;
	text-align: right;	


}
#sociallinks input{
	margin-top: 2px;
	font-size: 10px;
	margin-right: 10px;

}
#sociallinks img{
	margin-right: 20px;
}