

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700|Ruthie);

body {
	background: #fff;
	/*color: #ecf0f1;*/
	font-size: 100%;
	line-height: 1.25;
	font-family: 'Lato', Arial, sans-serif;
	margin: 0;
}


#title{
	font-family: "Raleway", cursive;
	font-size: 60px;
	text-align: center;
	margin-left:  1em;
	margin-right: 1em;

	border-bottom: 1px solid rgba(0,0,0,0.1);
}

.big .projectimage {
    position:relative;
    width:300px;
    height:300px;
    	border: 1px solid rgba(0,0,0,0.1);
overflow: hidden;
}
.projectimage {
    position:relative;
    width:400px;
    height:250px;
        border: 1px solid rgba(0,0,0,0.1);
overflow: hidden;
}
.projectimage img {
    width:100%;
    display: inline-table;
    vertical-align:top;
    background-repeat: no-repeat;
    background-size: cover;
}
.projectimage:after, .projectimage:before {
    position:absolute;
    opacity:1;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.projectimage:after {
    content:'\A';
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.3);
}
.projectimage:before {
    content: attr(data-content);
    width:100%;
    color:#fff;
    z-index:1;
    bottom:0;
    padding:4px 10px;
    text-align:center;
    /*background:rgba(255,255,255,0.5);*/
    background: rgba(0,0,0,0.9);
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    font-family: "Raleway", cursive;
}
.projectimage:hover:after, .projectimage:hover:before {
    opacity:1;
    background: rgba(0,0,0,0.6);
}
.project{
	margin-bottom: 20px;
	list-style: none;
	display: inline-table;
	color: white;
}
.project .description{
	display: inline-block;
    
}
.description h2{
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;

}

a:hover{
    color: black;
    text-decoration: none;
}
