
/*---------------------------Class's----------------------------------*/

.right{
	/*white color*/
	background-color: #000000;
	float: right;
	position: absolute;
	right: 0;
	

}

.left{
	/*black color */
	background-color: #ffffff;
	float: left;
	left: 0;
	position: absolute;
	
}

.side{
	width: 50%;
	height: 100%;
	position: relative;
	margin-right: 0;
}
/*---------------------------Id's----------------------------------*/
#rightfull{
	background-color: #000000;
	height: 100%;
	width: 100%;
}

#leftfull{
	background-color: #ffffff;
}
/*center logo*/
#logo
{
	width: 200px;
	margin: 0 auto;
	margin-top: 130px;
	z-index: 10;
	margin-left: -100px;
	left: 50%;
	position: fixed;
}