body{
	overflow: hidden;
}
/*header*/

.sketch{
  background: url("../images/4.jpg");
  background-size: 100%;
  min-height: 650px;
  background-origin: center;
background-position: center;
background-repeat: no-repeat;
  transition: background-size 2s;
-webkit-transition:background-size 2s; /* Safari */
}
.cover{
 background: url("../images/blackglass.png"); 
 min-height: 650px;
 }

 #hide{
  display: none;
 }

 .centerfont{
  color: white;
  font-size: 30px;
  padding-top: 60%;
  text-align: center;
 }

.sketch:hover{

  background-size: 140%;
  background-position: center;
}

.side{
  height: 620px;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}
/*footer*/
#footcont{
	height: 10%;
	z-index: 999;
	background-color: #ececec;
	margin: 0 0 0 0;
	width: 100%;
}

#footer{
	position: fixed;
	top:90%;
	width: 100%;
	background-color: #B6B6B4;
	
}

#sociallinks{
	height: 100%;
	overflow: hidden;
	text-align: right;	


}
#sociallinks input{
	margin-top: 2px;
	font-size: 10px;
	margin-right: 10px;

}
#sociallinks img{
	margin-right: 20px;
}

#offsite{
	margin-top: 20px;
	bottom: 0;
}



/*slideshow*/
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: 480px;
  float: left;
  margin: 0;
  padding-right: 0;
  padding-left: 0;
  padding-top: 10px;
  background-position: center;
  z-index: -1;
  border: 0;
  }

.cover{
  display: block;
  height: 440px;
  
  margin: 0;
  padding-right: 0;
  padding-left: 0;
  padding-top: 10px;
  background-position: center;
  z-index: 2;
  border: 0;
  position: absolute;

  }

/*showsketch*/

