body {
    /*background: url(../images/matriximage.png)  ;*/
    background: rgba(0, 0, 2, 1);
    background-size: 100%;
    height: 100%;
}
a{
	text-decoration: none;
	color: black;
}
hr{
	height: 1px;
}
#load {
    position: fixed;
    /*left:600px;*/
    left: 50%;
    top:50%;
    z-index: 999;
}
.side {
    display: inline-block;
    margin-top: 2%;
    background:rgba(255, 255, 255, 1);
    padding: 0;
    cursor: pointer;
}
.cover {
    height: 600px;
    /*position: relative;*/
    height:max-content;
    /*border-style: inset;*/
    border: 1px solid;
    margin: 2px;
    /*height:;*/
    overflow: hidden;
}
.part-description {
    font-size: 15px;
    margin-top: 70%;
    width: 100%;
    display: none;
    font-family:'Exo 2', sans-serif;
}


.playground{
	margin-right: 4%;
}

.project {
    padding-left: 0;
    padding-right: 0;
    /*margin-left: : 4%;*/
    margin-right: 4%;
}


.centerfont {
    position: relative;
    /*color: green;*/
    font-size: 30px;
    margin-top: 10%;
    padding-top: 60%;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
/*font-family: 'Alegreya Sans', sans-serif;*/
/*font-family: 'Gruppo', cursive;*/
    cursor: pointer;
}
.centerfont:hover{
margin-top: 0;
/*padding-top:10%;*/
}