body {
    padding: 0;
    margin: 0;
    background: #e5e4e0;
}

.landing-page {
    width: 100%;
    
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
}
.poster{
  background-image: url("img/landing169.jpg");
}
.float-left{
  float: left;
}
.landing-page nav {
    float: right;
    font-weight: 400;
    padding: 50px;
    font-size: 16px;
    font-family: "Roboto","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

.landing-page nav a {
    padding: 15px;
    color: rgba(255,255,255,0.5);
    font-size: 14px;
    text-decoration: none;
    letter-spacing: 1px;
}

.projects-container{
  margin-top: -10%;
  z-index: 99999;
  margin-left: 5%;
  width: 100%;
  position: absolute;
}
.projects-container .project {
  width: calc(45% - 12px);
  display: inline-grid;
  float: left;
  height: 170px;
  z-index: 9999;
  /* position: absolute; */
  background-color: #fff;
  /* padding: 10px; */
  border: 0.1px solid rgba(0,0,0,0.4);
}
.project img{
  width: 100%;
  height: 100%;
}
.story-container {
    background: #fff;
    margin: 10px 7% 2% 7%;
    padding: 3%;
    width: 80%;
    overflow: hidden;
}

.story-container .black-box-heading {
    margin: auto;
    background: #000;
    /* padding: 10px; */
    min-width: 200px;
    width: auto;
    height: 30px;
    line-height: 12px;
    display: table;
    font-family: Quicksand;
    font-size: 14px;
    width: 150px;
    height: 30px;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    /* border-radius: 500px; */
    /* margin: 5%; */
}


.story-container .black-box-heading h2 {
    padding: 20px 20px 20px 20px;
    margin: 0;
    line-height: 30px;
}

.story-container .decoration {
    background: transparent;
    border: 10px solid #000;
}

.story-container .left-hand {
    float: left;
    width: 50%;
    /* position: static; */
}

.story-container .left-hand img {
    width: 130%;
    /* position: absolute; */
    /* left: -10%; */
    margin-left: -10%;
}

.story-container .right-half-center {
    width: 45%;
    float: right;
    text-align: center;
    min-height: 500px;
    height: 60vh;
    padding-top: 5%;
}

.story-container .paragraph {
    padding: 30px;
    line-height: 22px;
    word-spacing: 3px;
    font-family: helvetica;
    font-weight: 100;
    color: #a6a6a6;
    font-size: 13px;
    h: auto;
    letter-spacing: 0.3px;
}

.story-container .left-half-center {
    width: 50%;
    text-align: center;
    float: left;
    height: 60vh;
}

.story-container .left-half-center .sub-heading {
    font-family: Roboto;
    font-weight: 300;
    font-size: 19px;
    padding: 40px;
    width: 50%;
    margin: auto;
}

.story-container .projects {
    float: right;
    width: 50%;
    margin: auto;
    margin-top: -10;
    text-align: center;
    min-height: 500px;
}

.story-container .blue-box {
    width: 50%;
    position: absolute;
    /* left: 50%; */
    width: 40%;
    /* border-color: #1294f6; */
    /* z-index: -1; */
    height: 60%;
}

.story-container .red-box {
    /* border-color: #ec1562; */
    position: absolute;
    left: 15%;
    height: 80%;
    width: 25%;
    padding: 4% 8% 6% 0%;
}



.place-3{
    float:right;
    width: 60%;
    margin-top: 15%;
    height: 400px;
}
.place-3 img{
      width: 100%;
    }

.place-3para{
  margin-top: 15%;
  float:left;
  width: 25%;
}
.contact{
  margin-top: 5%;
  width: 100% !important;
  height: 478px !important;
}
.contact .heading{
  margin: 5%;
}
.story-container .green-box {
    /* border-color: #009788; */
    min-height: 10%;
    /* transform: rotate(-20deg); */
    float: left;
    margin-top: 50px;
}

.sub-link{
  text-decoration: none;
    font-size: 22px;
    color: #666;
    font-weight: 100;
    font-family: "Roboto","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  }    


  /* flip effect */
  /* entire container, keeps perspective */
.flip-container {
  perspective: 1000px;
}
  /* flip the pane when hovered */
  .flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
  }

.flip-container, .front, .back {
  width: 480px;
  height: 320px;
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 15%;
  margin-top: 5%;
}
.front img, .back img{
  width: 100%;
}
/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
  margin-left: -10%;
  background-image: url("img/bc-back.jpg");
  -webkit-background-size: cover;
  background-size: 100%;
  background-repeat: no-repeat;
}
.back .s-icon{
  width: 50px;
}

.contact .right-half-center{
  padding: 0;
}



/*  */

.dash-effect {
  text-transform: uppercase;
  font-weight: 900;
  overflow: hidden;
  line-height: 0.75;
  color: #c5c2b8;
}

.dash-effect:hover {
  color: #c5c2b8;
}

.dash-effect::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  top: 50%;
  margin-top: 0px;
  right: 0;
  background: rgba(255, 255,255, 1);
  -webkit-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.dash-effect:hover::after {
  -webkit-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0);
}

.dash-effect::before {
  content: attr(data-letters);
  position: absolute;
  z-index: 2;
  overflow: hidden;
  color: #fff;
  white-space: nowrap;
  width: 0%;
  -webkit-transition: width 0.2s 0.2s;
  transition: width 0.2s 0.2s;
}

.dash-effect:hover::before {
  width: 55%;
  min-width: 110px;
}


.cl-effect-10  {
  position: relative;
  z-index: 1;
}

.cl-effect-10 a {
  overflow: hidden;
  margin: 0 15px;
}

.cl-effect-10 a span {
  display: block;
  padding: 10px 20px;
  background: #0f7c67;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}

.cl-effect-10 a::before {
  /* position: absolute; */
  top: 0;
  left: 0;
  z-index: -1;
  padding: 10px 20px;
  width: 100%;
  /* height: 100%; */
  background: #fff;
  color: #0f7c67;
  content: attr(data-hover);
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform: translateX(-25%);
}

.cl-effect-10 a:hover span,
.cl-effect-10 a:focus span {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  transform: translateX(100%);
}

.cl-effect-10 a:hover::before,
.cl-effect-10 a:focus::before {
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  transform: translateX(0%);
}
