body{
  margin: 0;
}
nav{
 width: 60%;
/*height: 75px;*/
padding: 1% 20%;
position: fixed;
top: 0;
padding-top: 20px;
box-shadow: 1px 2px 3px rgba(0,0,0,0.4);
background: #fff;
}

nav span{
  line-height: 35px;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 100;
}
nav button{
  float: right;
  background: #0370ea;
background: -moz-linear-gradient(top,#008dfd 0,#0370ea 100%);
background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#008dfd),color-stop(100%,#0370ea));
background: -webkit-linear-gradient(top,#008dfd 0,#0370ea 100%);
background: -o-linear-gradient(top,#008dfd 0,#0370ea 100%);
background: -ms-linear-gradient(top,#008dfd 0,#0370ea 100%);
background: linear-gradient(top,#008dfd 0,#0370ea 100%);
border: 1px solid #076bd2;
-moz-border-radius: 3px;
border-radius: 3px;
color: #fff !important;
display: inline-block;
font-size: 13px;
font-weight: 700;
line-height: 1.3;
padding: 7px 30px 6px;
text-align: center;
text-decoration: none !important;
text-shadow: 1px 1px 1px #076bd2;
}
.container{
  margin-top: 7%;
}
.logoimage{
  margin-top: 2%;
 width: 200px; 
}
h1,h4{
  font-family: sans-serif;
  font-weight: 100;
}
table{
  width: 100%;
}

.socialbutton{
  display: inline;
}
.featurelist{
  margin-top: 70px;
}
td{
  width: 35%;
font-family: sans-serif;
  padding: 10px 10px 20px 30px;
}
td p{
  font-family: sans-serif;
  font-weight: 100;
 font-size: 14px;
 margin: 0;
}
