body{
	height: 100%;
	margin: 0px;
	padding: 0px;
}
div{
	padding: 0px;
	margin: 0px;
}
.white{
	background: #fff;
	height: 720px;
}
.black{
	background: black;
	height: 720px;
	color: white;
}


h1{
	position: fixed;

	margin: 0;
}
#harsh{
	top: 30%;
	left: 40%;
	font-size: 300%;
}
#bhatia{
	color:white;
	font-size: 300%;
}
